# Python
*.pyc
*.pyo
__pycache__/
*.pyd
.Python

# Virtual Environment
venv/
env/
ENV/
*.env
.venv/

# Pytest
.cache/

# IDEs
.vscode/
.idea/

# FastAPI
*.sqlite

# Log files
*.log

# Migrations (if using a database)
alembic.ini
migrations/

# Package cache (if using pip)
pip-wheel-metadata/

# VSCode configuration files
.vscode/

# PyCharm configuration files
.idea/

# JetBrains configuration files (if used)
*.iml

*.zip
*.diff